<header id="header">
				<div class="logo"><a href={{titulo}}>Peluqueria <span>{{ Nombre }}</span></a></div>
				<a href="#menu"><span>Menu</span></a>
</header>

<header id="header" class="alt">
				<div class="logo"><a href="index.html">Road Trip <span>by TEMPLATED</span></a></div>
				<a href="#menu"><span>Menu</span></a>
</header>

<header id="header" class="alt">
				<div class="logo"><a href="/">Road Trip <span>by TEMPLATED</span></a></div>
				<a href="#menu"><span>Menu</span></a>
</header>